*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*.swp

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
