packages:
  yum:
    httpd24-devel: []
    GeoIP: []
    GeoIP-devel: []

# these commands run before the application and web server are
# set up and the application version file is extracted.
commands:
    01_redis_install:
        # run this command from /tmp directory
        cwd: /tmp
        # don't run the command if phpredis is already installed (file /etc/php.d/redis.ini exists)
        test: '[ ! -f /etc/php.d/redis.ini ] && echo "redis not installed"'
        # executed only if test command succeeds
        command: |
            wget https://github.com/nicolasff/phpredis/zipball/master -O phpredis.zip \
            && unzip -o phpredis.zip \
            && cd phpredis-* \
            && phpize \
            && ./configure \
            && make \
            && make install \
            && echo extension=redis.so > /etc/php.d/redis.ini
    02_download_geoip_dat:
        # run this command from /tmp directory
        cwd: /tmp
        test: '[ ! -f /usr/local/share/GeoIP/GeoIP.dat ] && echo "GeoIP.dat not installed"'
        # executed only if test command succeeds
        command: |
            wget -N http://geolite.maxmind.com/download/geoip/database/GeoLiteCountry/GeoIP.dat.gz \
            && gunzip GeoIP.dat.gz \
            && mkdir -p /usr/local/share/GeoIP \
            && mv -v GeoIP.dat /usr/local/share/GeoIP/
            
    03_mod_geoip_install:
        # run this command from /tmp directory
        cwd: /tmp
        test: '[ ! -f /usr/lib64/httpd/modules/mod_geoip.so ] && echo "mod_geoip not installed"'
        # executed only if test command succeeds
        command: |
            wget -N https://github.com/maxmind/geoip-api-mod_geoip2/archive/1.2.10.zip  -O geoip-api-mod_geoip2.zip \
            && unzip geoip-api-mod_geoip2.zip \
            && cd geoip-api-mod_geoip2-* \
            && apxs -i -a -L/usr/local/lib -I/usr/local/include -lGeoIP -c mod_geoip.c \
            && echo $'<IfModule mod_geoip.c>\n\tGeoIPEnable On\n\tGeoIPDBFile /usr/local/share/GeoIP/GeoIP.dat MemoryCache\n\tGeoIPScanProxyHeaders On\n</IfModule>' > /etc/httpd/conf.modules.d/geoip.conf